<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="Default" connectionString="Data Source = 192.168.111.88; Initial Catalog = MCS; User Id = Odmin; Password" providerName="System.Data.SqlClient" />
  <add name="Model1" connectionString="data source=192.168.111.88;initial catalog=MCS;user id=Odmin;password=Qwerty12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>